* {
    background-color: antiquewhite;
    text-align: center;
}

#container{
    display: grid;
    justify-content: center;
    margin: 20px;
    text-align: center;
    height: fit-content;
    background-color: rgb(179, 102, 47);
    border-radius: 5px;
    
}

 h2 {
    background-color: rgba(179, 102, 47, 0);
    margin: 10px;
}

/* #projectsdiv {
    display: grid;
    justify-content: center;
    text-align: center;
} */

#projectsdiv {
    /* display: flex; */
    justify-content: center;
    margin: 20px;
    background-color: rgb(179, 102, 47);
}
.projectcard {
    display: grid;
    background-color: rgb(222, 192, 171);
    width: 500px;
    max-height: fit-content ;
    border-radius: 10px;
    margin: 10px;
}
h4 {
    background-color: rgba(255, 240, 240, 0);
}

.projectcard h2 {
    background-color: rgba(222, 192, 171, 0);
}

.projectcard p {
    background-color: rgba(222, 192, 171, 0);
}

#titlecheckdiv {
    border-radius: 10px;
    width: fit-content;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-self: center;
    padding: 5px;
    margin-top: 10px;
}
#titlecheckdiv h2 {
    background-color: rgba(240, 248, 255, 0);
}


#projecttitle {
    margin: 20px;
    height: 25px;
    width: 200px;
}

/* list within project */
.taskcontainer {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    text-align: center;
    height: 30px;
    width: fit-content;
    /* border-radius: 100px; */
    background-color: rgba(241, 214, 117, 0);
}
#taskdate {
    margin: 5px;
    background-color: rgba(240, 248, 255, 0);
}


/* all inputs */
input {
    border-radius: 5px;
    background-color: white;
}

#inputdiv {
    display: flex;
    justify-content: center;
    height: fit-content;
    background-color: rgb(222, 192, 171);
}
#getlistitem {
    background-color: rgba(240, 248, 255, 0);
}

/* buttons */
#submit {
    background-color: rgb(0, 0, 0);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
button {
    background-color: rgb(139, 56, 5);
    color: white;
    border-radius: 5px;
    margin: 5px;
}
#newprojectbutton {
    padding: 10px;
}




